<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PAM_ActivityIntent"
        tools:targetApi="31">
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".ArtikelActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".CatatanPemasukanActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".CatatanPengeluaranActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".DetailSetorActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".DompetPemilihanActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".PinDompetActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".AtmActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".InternasionalActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
<!--        briva-->
        <activity
            android:name=".BrivaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".PembayaranBrivaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".KonfirmasiBrivaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".PinBrivaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".TagihanBrivaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".StrukBrivaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

<!--listrik-->
        <activity
            android:name=".ListrikActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".BayarListrikActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

<!--pulsa-->
        <activity
            android:name=".PulsaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".KonfirmasiPulsaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".TagihanPulsaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".PinPulsaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".StrukPulsaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

<!--data        -->
        <activity
            android:name=".PaketDataActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".KonfirmasiPaketDataActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".TagihanDataActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".PinDataActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".StrukPaketDataActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

<!--valas        -->
        <activity
            android:name=".ValasActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".JenisValasActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".NotifActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".CatatanBaruActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".CatatanBaruKeluarActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".BrizziActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".DompetDigitalActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".IndomaretActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".JalurTarikTunaiActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".KonfirmasiAtmActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".KonfirmasiIndomaretActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>


        <activity
            android:name=".SetorTunaiActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".StreamingActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".TarikTunaiActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".TransferActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".TransferLanjutActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".PinTransferActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".SignUp"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/label_signup"/>
        <activity
            android:name=".RekeningActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".LainnyaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PAM_ActivityIntent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>